Data/**/*.csv
Data/**/*.txt
**/__pycache__/*
*Env/*
*.log
pythonclient/*
.vscode/*
**/Save/*
**/*Production.txt
*LiveUpdateProduction-*
# C++
*.exe
*.ilk
*.obj
*.pdb
*/cppclient/*
*/build/*
# CMake
**/CmakeFiles/*
cmake_install.cmake
CMakeCache.txt
lightning/Makefile